.cellopic {
    background-image: url("../../images/CelloPic.png");
    height: 80vh;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .cellopic h1 {
    color: whitesmoke;
    font-size: 25px;
    
  }
  .cellopic h3{
    color:whitesmoke;
  }