
.about {
    display: flex;
    /* flex-direction: in; */
    background-color: rgba(0, 0, 0, .51);
     color: whitesmoke;
    
    align-items: center;
    padding: 50px;  
    
    }
.aboutmewrapper{
    display: flex;
    /* flex-direction: column; */
    /* background-color: rgba(0, 0, 0, .51); */
     /* color: whitesmoke;
    margin-bottom: 2px; */
    /* align-items: center; */
    /* padding: 50px;  */
    

}
#bio{
    display: flex;
    /* flex-direction: column; */
    /* box-sizing: border-box; */
    color:whitesmoke;
    /* padding: 20px; */
    margin-bottom: 5px;
    text-align: justify;
    padding: 10px;
    background-color: rgba(0, 0, 0, .51);
}
#bio p {
font-size: 15px;


}
    
#pic{
    width: 250px;
    height: 250px;
    border-style: inset;
    margin: 5px;
    border-style: outset;

} 
@media screen and(max-width:768px) {
 #pic img {
        width: 100%;
}
}
