*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* overflow-x: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 40px 0px;
} */
html{
  scroll-behavior: smooth;
}
.headings{
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 48px;
  text-align: center;
  margin: 40px 0px;
}
/*NAVBAR*/
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .51);
  position: sticky;
  top: 0;
}
.navbar> *{
  flex: 1;
}

.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px 0px;
  justify-content: center;
}

.navbar ul li{
  font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.navbar ul li a{
  text-decoration: none;
  color: whitesmoke;
  padding: 8px 25px;
  transition: all .5s ease;
}

.navbar ul li a:hover{
  background-color: whitesmoke;
  color: black;
}