.contactwrapper {
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color:whitesmoke;
    padding: 20px;
    
    background-color: rgba(0, 0, 0, .51);
}
.contact {
  
  max-width: 500px;
  
  box-sizing: border-box;
  margin: 75px auto;

  

}

Form {
    border: 1px solid lightgray;
    box-sizing:inherit;
    border-radius: 20px;
    padding: 85px;
    background-color: rgba(0, 0, 0, .51);
  }

